#asider > li {
  position: relative;
  cursor: pointer;
  margin: 8px 0;
}

#asider > li > .outnav {
  width: 35px;
  height: 35px;
  background: url(../img/vipicon.png) no-repeat;
}

#asider > li > .subnav {
  display: none;
  opacity: 0;
  position: absolute;
  right: 60px;
  top: -1px;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #494949;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#asider > li > .subnav > .sanjiao {
  top: 7px;
  right: -8px;
  font-size: 8px;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-family: "\5b8b\4f53";
  color: #494949;
}

#asider > li:hover > .outnav {
  background-color: #FF0036;
}

#asider > .vip {
  margin-top: 200px;
}

#asider > .cart {
  margin: 8px 0;
  color: #FFF;
  height: 130px;
}

#asider > .cart > .outnav {
  position: absolute;
  top: 10px;
}

#asider > .cart > p {
  display: block;
  left: 7px;
  top: 40px;
  width: 20px;
  height: 50px;
  line-height: 16px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
}

#asider > .cart > .bgline {
  position: absolute;
  top: 0;
  left: 5px;
  height: 128px;
  width: 25px;
  border: 1px solid #444;
  border-width: 1px 0;
}

#asider > .cart > .mc-count {
  background-color: #FF0036;
  color: #FFF;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  left: 7px;
  bottom: 10px;
}

#asider > .cart:hover {
  background-color: #FF0036;
}

#asider > .cart:hover > .bgline {
  border-width: 0;
}

#asider > .qr-code {
  position: absolute;
  bottom: 35px;
  margin: 0;
}

#asider > .qr-code > .q-outnav {
  width: 35px;
  height: 35px;
  background: url(../img/vipicon.png) no-repeat;
}

#asider > .qr-code > .q-outnav:hover {
  background-color: #FF0036;
}

#asider > .qr-code > .subnav {
  box-shadow: none;
  display: none;
  opacity: 1;
  position: absolute;
  top: -161px;
  right: 33px;
  width: 155px;
  height: 207px;
  cursor: default;
  background: url(../img/TB1uwIcRXXXXXXsaXXXXXXXXXXX-154-207.png) no-repeat;
}

#asider > .qr-code > .subnav > .qrcode-img {
  width: 100px;
  height: 100px;
  margin: 45px 0 0 27px;
}

#asider > .qr-code > .subnav > .text-img {
  line-height: 26px;
  margin-right: 10px;
  text-align: right;
  padding-left: 10px;
}

#asider > .qr-code > .subnav > .sanjiao {
  top: 170px;
  right: -5px;
  color: #FF0036;
}

#asider > .qr-code:hover > .subnav {
  display: block;
}

#asider > .feedback {
  position: absolute;
  bottom: 70px;
  margin: 0;
}

#asider > .go-top {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: none;
}
