.h-mid > .wrapper {
  width: 1190px;
  margin: 0 auto;
  padding-right: 0;
  height: 85px;
}

.h-mid > .wrapper > h2 {
  float: left;
  width: 155px;
  padding-top: 20px;
  padding-right: 7px;
  height: 44px;
}

.h-mid > .wrapper > h2 > .logo {
  display: block;
  width: 145px;
  overflow: hidden;
  font-size: 0;
}

.h-mid > .wrapper > h2 > .logo > img {
  height: 30px;
  width: 145px;
}

.h-mid > .wrapper > #shopExtra {
  float: left;
  position: relative;
  padding: 15px 0 0;
  height: 50px;
}

.h-mid > .wrapper > #shopExtra > .slogo {
  background: -174px -30px no-repeat;
  float: left;
  padding: 0 10px;
  height: 38px;
  border-left: 1px solid #f0f0f0;
  width: auto;
}

.h-mid > .wrapper > #shopExtra > .slogo > a {
  height: 22px;
  line-height: 19px;
  overflow: hidden;
  background-color: #fff;
  font-size: 12px;
  font-family: "\5b8b\4f53";
  color: #333;
  font-weight: 700;
}

.h-mid > .wrapper > #shopExtra > .slogo > a > strong {
  font-weight: bold;
}

.h-mid > .wrapper > #shopExtra > .slogo > a:hover {
  text-decoration: underline;
}

.h-mid > .wrapper > #shopExtra > .slogo > div {
  height: 25px;
  width: 80px;
}

.h-mid > .wrapper > #shopExtra > .slogo > div > a {
  display: block;
  height: 22px;
  width: 20px;
  line-height: 19px;
  overflow: hidden;
  background-color: #fff;
  font-size: 12px;
  font-family: "\5b8b\4f53";
  color: #333;
  font-weight: 700;
  background: url(../img/ww.gif) no-repeat -110px 0;
}

.h-mid > .wrapper > #shopExtra > .shop-info {
  position: relative;
  float: left;
  width: 132px;
  height: 38px;
  font-weight: 400;
  padding: 0 10px;
  border-left: 1px dotted #f0f0f0;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item {
  float: left;
  color: #999;
  width: 36px;
  height: 36px;
  position: relative;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item > .shopdsr-title {
  text-align: center;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item > .shopdsr-score {
  padding-left: 5px;
  height: 18px;
  width: 31px;
  position: relative;
  overflow: hidden;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item > .shopdsr-score > .fa {
  width: 12px;
  top: 4px;
  position: absolute;
  height: 12px;
  right: 2px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item > .down {
  color: #1f7700;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .shopdsr-item > .up {
  color: #FF0036;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .slogo-triangle {
  float: left;
  display: block;
  margin: 0 0 0 14px;
  width: 6px;
  height: 38px;
  position: relative;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .main-info > .slogo-triangle > .sanjiao {
  border-color: #ccc #fff #fff;
  border-style: solid;
  border-width: 4px;
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 0;
  top: 15px;
  transform-origin: 50% 25%;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info {
  display: none;
  left: -121.387px;
  top: 51px;
  width: 271px;
  z-index: 100;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd {
  padding: 0 11px;
  float: left;
  width: 91%;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate {
  margin-top: 16px;
  color: #666;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > h4 {
  height: 18px;
  margin: 0 0 10px;
  color: #999;
  font-weight: 400;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > h4 > .compare {
  margin-left: 55px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs {
  margin-left: 1px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li {
  margin: 5px 0 0;
  line-height: 15px;
  color: #959595;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a {
  color: #35a;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a > .count {
  display: inline-block;
  width: 20px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a > .rateinfo > .fa {
  color: #1f7700;
  height: 9px;
  width: 8px;
  margin: 3px 5px 0 30px;
  background: 0 0;
  font-weight: 400;
  vertical-align: top;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a > .rateinfo > i {
  display: inline-block;
  font-style: normal;
  color: #999;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a > .rateinfo > .lower {
  display: inline-block;
  font-size: 12px;
  color: #999;
  font-weight: 400;
  padding: 0 0 0 5px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a:hover > em, .h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .shop-rate > .render-byjs > li > a:hover .lower {
  text-decoration: underline;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend {
  border-top: 1px dotted #DBDBDB;
  border-bottom: 1px dotted #DBDBDB;
  margin-top: 13px;
  padding: 8px 0;
  color: #959595;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > .title {
  font-weight: 400;
  height: 18px;
  margin: 5px 0 10px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li {
  line-height: 22px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > label {
  float: left;
  width: 60px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .right {
  margin-left: 59px;
  color: #999;
  position: relative;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .right > .ww {
  background: url(../img/ww.gif) no-repeat -110px 0;
  display: block;
  width: 20px;
  height: 20px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .right > .age-num {
  font-family: Impact,Arial;
  color: #ffd800;
  background-color: #f04343;
  padding: 0 3px;
  line-height: 0;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .right > .age-content {
  color: #f04343;
  padding: 0 1px;
  overflow: hidden;
  line-height: 0;
  font-size: 13px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .right > a:hover {
  text-decoration: underline;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .extend > ul > li > .tm-shop-age {
  border: 1px solid #f04343;
  height: 14px;
  width: 75px;
  line-height: 14px;
  font-size: 13px;
  margin-top: 4px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .other {
  margin: 10px 0;
  overflow: hidden;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .other > a {
  line-height: 26px;
  text-align: center;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .other > a > .fa {
  font-size: 16px;
  vertical-align: middle;
  margin-left: -15px;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .other > .enter-shop {
  float: left;
  margin-left: 10px;
  vertical-align: top;
  width: 81px;
  height: 28px;
  border: 1px solid #e5e5e5;
  padding: 0 0 0 17px;
  color: #404040;
  position: relative;
  background-color: #f2f2f2;
}

.h-mid > .wrapper > #shopExtra > .shop-info > .detail-info > .bd > .other > .collect-shop {
  color: #fff;
  float: right;
  margin: 0 10px 0 0;
  vertical-align: top;
  width: 81px;
  height: 28px;
  border: 1px solid #ff0036;
  padding: 0 0 0 17px;
  background-color: #ff0036;
  position: relative;
}

.h-mid > .wrapper > #shopExtra > .shop-info:hover .sanjiao {
  transform: rotate(180deg);
}

.h-mid > .wrapper > #shopExtra:hover .detail-info {
  display: block;
}

.h-mid > .wrapper > .shopwt {
  float: left;
  width: 54px;
  border-left: 1px solid #f0f0f0;
  padding: 0 10px;
  margin: 15px 0 0;
  position: relative;
}

.h-mid > .wrapper > .shopwt > .shopwt-desc {
  float: left;
  width: 40px;
}

.h-mid > .wrapper > .shopwt > .shopwt-desc > .shopwt-title {
  text-align: center;
  color: #999;
  font-weight: 400;
}

.h-mid > .wrapper > .shopwt > .shopwt-desc > .fa {
  font-style: normal;
  font-size: 24px;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  color: #999;
  position: absolute;
  top: 13px;
  left: 14px;
  line-height: 40px;
}

.h-mid > .wrapper > .shopwt > .slogo-triangle {
  top: 12px;
  left: 18px;
  display: block;
  margin: 0 0 0 14px;
  width: 6px;
  height: 38px;
  position: relative;
}

.h-mid > .wrapper > .shopwt > .slogo-triangle > .sanjiao {
  border-color: #ccc #fff #fff;
  border-style: solid;
  border-width: 4px;
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 0;
  top: 18px;
  transform-origin: 50% 25%;
}

.h-mid > .wrapper > .shopwt > .tm-qrcode-hpic {
  position: absolute;
  left: -1px;
  top: 51px;
  z-index: 99;
  height: 178px;
  width: 160px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  background: #fff;
  display: none;
}

.h-mid > .wrapper > .shopwt > .tm-qrcode-hpic > img {
  margin: 10px 10px 0;
  width: 140px;
  display: inline-block;
}

.h-mid > .wrapper > .shopwt > .tm-qrcode-hpic > .qr-text {
  width: 160px;
  text-align: center;
  color: #9E958C;
}

.h-mid > .wrapper > .shopwt:hover > .tm-qrcode-hpic {
  display: block;
}

.h-mid > .wrapper > .shopwt:hover .sanjiao {
  transform: rotate(180deg);
}

.h-mid > .wrapper > .header-extra {
  overflow: hidden;
}

.h-mid > .wrapper > .header-extra > .mall-search {
  width: 540px;
  padding: 15px 0 0;
  float: right;
  overflow: hidden;
}

.h-mid > .wrapper > .header-extra > .mall-search > form {
  border: none;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset {
  border: none;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > legend {
  display: none;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input {
  height: 36px;
  background-color: #FFF;
  position: relative;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > .defaultSearch {
  width: 455px;
  height: 30px;
  border: solid #ff0036;
  border-width: 3px 0 3px 3px;
  overflow: hidden;
  position: relative;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > .defaultSearch > input {
  width: 367px;
  padding: 5px 3px 5px 5px;
  color: #000;
  margin: 0;
  z-index: 2;
  height: 20px;
  line-height: 20px;
  outline: 0;
  border: none;
  font-weight: 900;
  box-sizing: content-box;
  border-radius: 2px 0 0 2px;
  vertical-align: middle;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > .defaultSearch > input:focus + label {
  color: #cccccc;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > .defaultSearch > label {
  color: #666666;
  visibility: visible;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  left: 8px;
  top: 0;
  z-index: 1;
  cursor: text;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > .defaultSearch > button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 80px;
  height: 30px;
  border: 0;
  font-size: 16px;
  letter-spacing: 0;
  cursor: pointer;
  color: #fff;
  background-color: #ff0036;
  overflow: hidden;
  font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
  border-radius: 0;
}

.h-mid > .wrapper > .header-extra > .mall-search > form > fieldset > .mallSearch-input > button {
  right: 0;
  top: 0;
  background: #333;
  width: 80px;
  height: 36px;
  position: absolute;
  z-index: 1;
  border: 0;
  font-size: 16px;
  letter-spacing: 0;
  cursor: pointer;
  color: #fff;
  left: auto;
}
